.date-selector-wrapper {
    color: white;
    width: 200px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 1px #5c5c5c;
    position: absolute;
    font-size: 12px;
    /* font-family: sans-serif; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    /* user-select: none; */
}
.cal-header, .cal-row {
    display: flex;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.cal-cell, .cal-nav {
    cursor: pointer;
}
.cal-day-names {
    height: 25px;
    line-height: 25px;
}
.cal-day-names .cal-cell {
    cursor: default;
    font-weight: bold;
}
.cal-cell-prev, .cal-cell-next {
    color: #777;
}
.cal-months .cal-row, .cal-years .cal-row {
    height: 60px;
    line-height: 60px;
}
.cal-nav-prev, .cal-nav-next {
    flex: 0.15;
}
.cal-nav-current {
    flex: 0.75;
    font-weight: bold;
}
.cal-months .cal-cell, .cal-years .cal-cell {
    flex: 0.25;
}
.cal-days .cal-cell {
    flex: 0.143;
    border-radius: 50%;
}

.cal-days .cal-day-names .cal-cell {
    border-radius: initial;
}

.cal-days .cal-cell-unavailable {
    cursor: default;
    color: #777;
}

.cal-days .cal-cell:hover.cal-cell-unavailable {
    background-color: initial;
}

.cal-value {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
.cal-cell:hover, .cal-nav:hover {
    background-color: rgb(90, 90, 90);
}
.cal-value:hover {
    background-color: #a3a3a3;
}

.cal-days .cal-day-names .cal-cell:hover {
    background-color: initial;
}

/* time footer */
.cal-time {
    display: flex;
    justify-content: flex-start;
    height: 27px;
    line-height: 27px;
}
.cal-time-label, .cal-time-value {
    flex: 0.12;
    text-align: center;
}
.cal-time-slider {
    flex: 0.77;
    background-image: linear-gradient(to right, #d1d8dd, #d1d8dd);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: left 50%;
    height: 100%;
}
.cal-time-slider input {
    width: 100%;
    -webkit-appearance: none;
    background: 0 0;
    cursor: pointer;
    height: 100%;
    outline: 0;
    user-select: auto;
}